*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Neucha', cursive;
    
    background: linear-gradient(to right, #E5F2F8, #8ABFDA);
}

.navbar{
    background: linear-gradient(to right, #E5F2F8, #8ABFDA);
    border-bottom: 2px solid white;
}

.nav-item{
    font-size: 1.875em;
}


#carrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    border-bottom: 2px solid white;
}
   /* max-height: 75vh;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #8ABFDA;
    border-radius: .25rem;
}

.carousel-inner{
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
}
*/
.carousel-inner img {
    display: block;
    max-height: 75vh;
    max-width: 100vh;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #8ABFDA;
    border-radius: .25rem;
}

.carousel-caption {
    color: black;
    text-shadow: 1px 1px 7px white ;
    font-weight: bold;
    padding: 0;
}

.carousel-caption p {
    font-size: 130%;
}

.carousel-control-next:hover, .carousel-control-prev:hover, .carousel-caption{
    background-color: rgba(0, 0, 0, 0.151);
}