table{
    border: 1px solid black;
}
th, td, caption{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

caption{
    background-color: #F2691E;
}

th{
    background-color: #D2691E;
}

td{
    background-color: #FFDEAD;
}

a:visited {
    color: #FF4500;
}

a:hover{
    background-color: #CD853F;
}